.contact {
    margin-top:1em;
    text-align: left;
}

.contact img {
    margin-right:10px;
}

.resume {
    margin-top:1.5em;
    text-align: right;
}

.about {
    width: 70%;
    display: inline-block;
}

.about-info {
    text-align: left;
}

.about-media {
    width: 29%;
    display: inline-block;
}

.about-media img {
  border-radius: 50%;
  height: 80%;
  width: 80%;
}
