html {
  font-family: sans-serif;
}


.about {
    padding-left: 7.5%;
    /* padding-right: 5%; */
    width: 50%;
    display: inline-block;
}

.about-info {
    text-align: justify;
}

.about-media {
    width: 35%;
    display: inline-block;
}

.about-media img {
  border-radius: 50%;
  height: 20em;
  width: 20em;
}
